*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{

}
.App{
  margin: auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  
  padding: 30px 30px;
}

@media (max-width:376px){
  .App{
    padding: 30px 25px;
  }
}
